@tailwind base;
@tailwind components;
@tailwind utilities;

/* for debugging purposes */
/* * {
	box-sizing: border-box;
	background: rgb(0 100 0 / 0.1) !important;
} */

html {
	@apply mono bg-black text-white;
}

.sans {
	font-family: 'IBM Plex Sans', sans-serif !important;
}

.mono {
	font-family: 'IBM Plex Mono', monospace !important;
}

.header {
	font-family: 'Silkscreen', sans-serif !important;
}

::selection {
	@apply bg-lime-400 text-lime-900;
}

.active {
	@apply text-lime-400;
}

#content-markdown {
	.content {
		@apply text-base;

		a {
			@apply link-underline header;
		}

		blockquote {
			@apply mt-5 border-2 border-neutral-700 p-3 text-sm text-neutral-200;

			p {
				@apply mt-0 leading-6;
			}
		}

		code {
			font-size: 15px;
			@apply mono border-2 border-neutral-700 bg-neutral-900 px-1 text-sm font-semibold text-orange-400;
		}

		h2 {
			@apply mono header mt-12 text-xl font-black md:text-2xl;
		}

		h3 {
			@apply mono header mt-10 font-black md:text-xl;
		}

		h4 {
			@apply mono header mt-8 font-black;
		}

		h5,
		h6 {
			@apply mono header mt-5 font-black;
		}

		img {
			@apply border-2 border-violet-400;
		}

		p {
			@apply mt-5 break-words leading-7;
		}

		ul {
			@apply arrow-list;
		}

		ol {
			@apply mt-5 pl-8;

			li {
				@apply mt-1.5 list-decimal pl-3;
			}
		}

		li > ul,
		li > ol {
			@apply mt-0;
		}
	}

	.anchorLink {
		@apply link sans ml-3;
	}
}

.arrow-list {
	@apply mt-5 list-none pl-5 md:pl-8;

	list-style-type: '➡️';

	li {
		@apply mt-1.5 pl-3;
	}
}

.content-section {
	@apply mt-content mx-auto w-full max-w-3xl px-4 sm:px-6 lg:px-8;
}

.content-uppercase {
	@apply mono font-semibold uppercase tracking-widest;
}

.handwritten {
	font-family: 'Permanent Marker', cursive;
}

.header-link-active {
	@apply link-active border-b-2;
}

.link {
	@apply text-lime-400 ring-1 ring-transparent transition duration-150 focus:outline-none focus:ring-lime-400 hover:text-lime-500 hover:underline;
}

.link-active {
	@apply border-green-400 text-lime-400;
}

.link-underline {
	@apply text-lime-400 underline ring-1 ring-transparent transition duration-150 focus:outline-none focus:ring-lime-400 hover:text-lime-500;
}

.main-header {
	@apply mono text-3xl font-black leading-snug tracking-tight md:text-4xl;
}

mark,
.highlight {
	@apply bg-violet-700 text-lime-400;
}

.mb-content {
	@apply mb-8 md:mb-12 lg:mb-16;
}

.minimal-scrollbar {
	@apply scrollbar scrollbar-track-neutral-800 scrollbar-thumb-neutral-600;
}

.mt-content {
	@apply mt-12 lg:mt-16;
}

.negative-z {
	z-index: -1;
}
