@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply mono bg-black text-white;
}

.sans {
	font-family: 'IBM Plex Sans', sans-serif !important;
}

.mono {
	font-family: 'IBM Plex Mono', monospace !important;
}

::selection {
	@apply bg-lime-400 text-lime-900;
}

.active {
	@apply text-lime-400;
}

#content-markdown {
	.content {
		@apply text-base;

		a {
			@apply link-underline;
		}

		blockquote {
			@apply mt-5 bg-violet-700 p-3 text-sm text-lime-400;

			p {
				@apply mt-0 leading-6;
			}
		}

		figcaption {
			@apply mt-3 text-center text-sm;
		}

		h2 {
			@apply mono mt-12 text-xl font-black md:text-2xl;
		}

		h3 {
			@apply mono mt-10 font-black md:text-xl;
		}

		h4 {
			@apply mono mt-8 font-black;
		}

		h5,
		h6 {
			@apply mono mt-5 font-black;
		}

		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 2rem;
			margin-bottom: 2rem;

			max-width: 100%;
			height: auto;
			width: auto;
		}

		p {
			@apply mt-5 break-words leading-7;
		}

		ul {
			@apply mt-5 pl-5 md:pl-8;

			li {
				@apply mt-1.5 list-disc;
			}
		}
	}

	.anchorLink {
		@apply link sans ml-3;
	}
}

.content-section {
	@apply mt-content mx-auto w-full max-w-4xl px-4 sm:px-6 lg:px-8;
}

.content-uppercase {
	@apply mono font-semibold uppercase tracking-widest;
}

.handwritten {
	font-family: 'Permanent Marker', cursive;
}

.header-link-active {
	@apply link-active border-b-2;
}

.link {
	@apply text-lime-400 ring-1 ring-transparent transition duration-150 focus:outline-none focus:ring-lime-400 hover:text-lime-500 hover:underline;
}

.link-active {
	@apply border-green-400 text-lime-400;
}

.link-underline {
	@apply text-lime-400 underline ring-1 ring-transparent transition duration-150 focus:outline-none focus:ring-lime-400 hover:text-lime-500;
}

.main-header {
	@apply mono text-3xl font-black leading-snug tracking-tight md:text-4xl;
}

mark,
.highlight {
	@apply bg-violet-700 text-lime-400;
}

.mb-content {
	@apply mb-8 md:mb-12 lg:mb-16;
}

.minimal-scrollbar {
	@apply scrollbar scrollbar-track-white scrollbar-thumb-lime-400;
}

.mt-content {
	@apply sm:mt-8 md:mt-12 lg:mt-16;
}

.negative-z {
	z-index: -1;
}
